<%= render 'pages/home' %>

<div id="container" style="padding: 0px 70px 0px">
	<h1>Funsies</h1>
	<hr style="margin-top: 1px; margin-bottom: 10px;">

	<h4>By city</h4>
	<ul id="filters" class="options">
  <li><a href="#" data-filter="*">Show all</a></li>
  <li><a href="#" data-filter=".Hanoi">Hanoi</a></li>
  <li><a href="#" data-filter=".HCMC">Ho Chi Minh City</a></li>
  <li><a href="#" data-filter=".Bangkok">Bangkok</a></li>
  <li><a href="#" data-filter=".Yangoon">Yangoon</a></li>
  <li><a href="#" data-filter=".SF">San Francisco</a></li>
  <li><a href="#" data-filter=".BayArea">Bay Area</a></li>
	</ul>

	<h4>By activity type</h4>
	<ul id="filters" class="options">
  <li><a href="#" data-filter="*">Show all</a></li>
  <li><a href="#" data-filter=".Food">Food</a></li>
  <li><a href="#" data-filter=".Outdoors">Outdoors</a></li>
  <li><a href="#" data-filter=".Nightlife">Nightlife</a></li>
  <li><a href="#" data-filter=".Sightseeing">Sightseeing</a></li>
  <li><a href="#" data-filter=".Chill">Chill</a></li>
	</ul>

	<div id="cards">
	  <%= render @cards %>
	</div>
	
	<script type="text/javascript">
		var $cards = $('#cards');

	// filter items when filter link is clicked
		$('#filters a').click(function(){
		  var selector = $(this).attr('data-filter');
		  $cards.isotope({ filter: selector });
		  return false;
		});
		
		$('#filters a')
	       .css("opacity","0.8")
	       .hover(function(){
	           $(this).css("opacity","1");
	       }, function() {
	           $(this).css("opacity","0.8");
		});
	</script>

</div>
