<div id="container" style="padding: 0px 70px 0px">
  <h1>Current Cities</h1>
  <hr style="margin-top: 1px; margin-bottom: 10px;">

  <div id="cards">
    <%= render @cities %>
  </div>
  <br>
  <%= link_to 'New City', new_city_path %>
</div>


