$baseFontFamily: Open Sans ;
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*navBar*/
$navbarHeight: 100px;
$navbarBackground: black;
$navbarBackgroundHighlight: black;
$navbarLinkColor: #f8f8f8;
$navbarLinkColorHover: gray;
$navbarLinkColorActive: gray;

.navbar-inner {
  border: 0 !important;
}


@import 'bootstrap';


body{
	padding-top: 150px;
}

.white-content-container {
    padding: 30px 30px 30px;
    background-color: #fff;
    border: #ddd 1px solid;
    -moz-box-shadow: 0 1px 1px #ddd;
    -webkit-box-shadow: 0 1px 1px #ddd;
    box-shadow: 0 1px 1px #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.tag {
    background-color: #398fd1;
    color: #fff;
    position: relative;
    padding: 100px 6px 3px 6px;
    line-height: 23px;
    font-weight: bold;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

@import 'bootstrap-responsive';

.footer {
    margin-top: 50px;
    margin-bottom: 10px;
    color: $grayLight;
    a {
        color: $gray;
    }
}

/*Required for jQuery Masonry*/

.box {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
    width: 214px;
}

.box img {
	display: block;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 53x;
    border-radius: 3px;
}

.description {
    margin: 10px 0 5px;
}

.description_city {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 10px;
}
/*Maps*/
#map {
    width: 100%;
    min-height: 300px;
    margin: 0 0 4% 0;
}

#map img {
    max-width: none;
}

.infowindow {
  width: 350px; 
  height: auto; 
  overflow: hidden !important;
  letter-spacing: 0px;
  font-weight: 400;
}

::-webkit-scrollbar { 
    display: none; 
}

.infowindow .title {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
}

.infowindow .address {
  font-size: 12px;
  color: #545454;
}

.infowindow .des {
  width: 345px;
  font-size: 13px;
  line-height: 15px;
  color: #545454;
}

/*Isotope filtering*/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

ul {
    list-style-type:none;
    margin: 15px 0 30px 0;
    padding:0;
}

.options li {
    border-right: 1px solid hsla( 0, 0%, 0%, 0.2 );
    border-left: none;
    border-radius: 5px;
    display: inline; 
    padding: 0.4em 0.5em;
    background-color: #DDD;
    color: #d3d3d3;
    font-weight: bold;
    text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
    background-image: -webkit-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
}

/*Isotope Animation*/
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
