$baseFontFamily: Noto Sans;
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

/*navBar*/
$navbarHeight: 50px;
$navbarBackground: #800000;
$navbarText: white;
$navbarBackgroundHighlight: #800000;
$navbarLinkColor: white;
$navbarLinkColorHover: gray;
$navbarLinkColorActive: gray;


.navbar-inner {
  border: 0 !important;
}

@import 'bootstrap';


body{
	padding-top: 100px;
}

.white-content-container {
    padding: 80px 0px 30px;
    background-color: #fff;
    border: #ddd 1px solid;
    -moz-box-shadow: 0 1px 1px #ddd;
    -webkit-box-shadow: 0 1px 1px #ddd;
    box-shadow: 0 1px 1px #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.tag {
    background-color: #398fd1;
    color: #fff;
    position: relative;
    padding: 100px 6px 3px 6px;
    line-height: 23px;
    font-weight: bold;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

@import 'bootstrap-responsive';

.footer {
    margin-top: 50px;
    margin-bottom: 10px;
    color: $grayLight;
    a {
        color: $gray;
    }
}

/*Required for jQuery Masonry*/

.box {
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    border: #ddd 1px solid;
    width: 214px;

}

.box img {
	display: block;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 53x;
    border-radius: 3px;
}

.description {
    margin: 10px 0 5px;
}

