$baseFontFamily: Open Sans ;
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*navBar*/
$navbarHeight: 100px;
$navbarBackground: #f8f8f8;
$navbarBackgroundHighlight: #f8f8f8;
$navbarLinkColor: #636363;
$navbarLinkColorHover: black;
$navbarLinkColorActive: black;

.navbar-inner {
  border: 0 !important;
}



@import 'bootstrap';


body{
	padding-top: 150px;
}

.white-content-container {
    padding: 80px 0px 30px;
    background-color: #fff;
    border: #ddd 1px solid;
    -moz-box-shadow: 0 1px 1px #ddd;
    -webkit-box-shadow: 0 1px 1px #ddd;
    box-shadow: 0 1px 1px #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.tag {
    background-color: #398fd1;
    color: #fff;
    position: relative;
    padding: 100px 6px 3px 6px;
    line-height: 23px;
    font-weight: bold;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

@import 'bootstrap-responsive';

.footer {
    margin-top: 50px;
    margin-bottom: 10px;
    color: $grayLight;
    a {
        color: $gray;
    }
}

/*Required for jQuery Masonry*/

.box {
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    border: #ddd 1px solid;
    width: 214px;

}

.box img {
	display: block;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 53x;
    border-radius: 3px;
}

.description {
    margin: 10px 0 5px;
}

#map {
    width: 100%;
    min-height: 300px;
    margin: 0 0 4% 0;
}
